[submodule "UnityProject/AlpoLib.Unity/Assets/AlpoLib/Core"]
	path = UnityProject/AlpoLib.Unity/Assets/AlpoLib/Core
	url = https://github.com/pumperer/AlpoLib-Core.git
[submodule "UnityProject/AlpoLib.Unity/Assets/AlpoLib/UI"]
	path = UnityProject/AlpoLib.Unity/Assets/AlpoLib/UI
	url = https://github.com/pumperer/AlpoLib-UI.git
[submodule "UnityProject/AlpoLib.Unity/Assets/AlpoLib/Data"]
	path = UnityProject/AlpoLib.Unity/Assets/AlpoLib/Data
	url = https://github.com/pumperer/AlpoLib-Data.git
[submodule "UnityProject/AlpoLib.Unity/Assets/AlpoLib/Util"]
	path = UnityProject/AlpoLib.Unity/Assets/AlpoLib/Util
	url = https://github.com/pumperer/AlpoLib-Util.git
[submodule "UnityProject/AlpoLib.Unity/Assets/AlpoLib/Res"]
	path = UnityProject/AlpoLib.Unity/Assets/AlpoLib/Res
	url = https://github.com/pumperer/AlpoLib-Res.git
